@import 'variables';

// GENERIC CSS
body {
    font-family: $primary-font;
    font-weight: 400;
    color: $secondary-color;
    background-color: $color-fa;
}

.no-padding {
    padding: $zero-value;
}

.no-left-padding {
    padding-left: $zero-value;
}

.no-right-padding {
    padding-right: $zero-value;
}

.no-top-padding {
    padding-top: $zero-value;
}

.no-bottom-padding {
    padding-bottom: $zero-value;
}

.no-margin {
    margin: $zero-value;
}

.no-left-margin {
    margin-left: $zero-value;
}

.no-right-margin {
    margin-right: $zero-value;
}

.no-top-margin {
    margin-top: $zero-value;
}

.no-bottom-margin {
    margin-bottom: $zero-value;
}

.no-border {
    border: $none-value;
}

.no-box-border {
    border: $none-value;
    box-shadow: $none-value;
}

.visible-xxs {
    display: none;
}

a {
    color: $primary-color;
    &:hover,
    &:focus {
        color: $primary-color;
    }
}

a,
button {
    transition: all 0.6s ease;
    outline: $none-value;
    box-shadow: $none-value;
    cursor: pointer;
    text-decoration: $none-value;
}

input,
select,
textarea {
    box-shadow: $none-value;
    border-radius: 3px;
    outline: $none-value;
}

img {
    &:focus,
    &:active {
        outline: $none-value;
    }
}

:focus {
    outline: $none-value;
}

.full-width {
    width: $full-width;
}

.max-full-width {
    max-width: $full-width;
}

// HEADER
header {
    background-color: $white-color;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    padding: 10px 20px;
    z-index: 1;
    position: relative;
    .logo-col {
        padding-top: 3px;
        a {
            font-weight: 600;
            font-size: 22px;
            line-height: 30px;
            color: $secondary-color;
            img {
                max-width: 100%;
            }
        }
    }
    .heading-col {
        padding: 16px 15px;
        label {
            font-weight: 400;
            font-size: 18px;
            line-height: 23px;
            letter-spacing: 0.5px;
            color: $secondary-color;
            text-transform: uppercase;
            margin: 0;
        }
    }
    .profile-col {
        text-align: right;
        padding: 8px 15px;
        .profile-div {
            display: inline-block;
            p {
                font-size: 20px;
                line-height: 24px;
                color: $white-color;
                // padding: 10px 15px;
                text-align: center;
                width: 40px;
                height: 40px;
                padding-top: 7px;
                background-color: $secondary-color;
                display: inline-block;
                margin: 0;
                border-radius: 100%;
                margin-right: 15px;
            }
            button {
                border: $none-value;
                float: $none-value;
                padding: $zero-value;
                background: $none-value;
                font-size: 18px;
                line-height: 23px;
                color: $light-color;
                text-transform: uppercase;
            }
            i {
                color: rgba(0, 0, 0, 0.54);
                margin-left: 15px;
                font-size: 12px;
                line-height: 35px;
            }
        }
    }
}
.login-section {
    background-color: $color-fa;
    height: 100vh;
    .logo-col {
        text-align: center;
        padding: 12rem 15px 5rem;
        &.login-logo {
            padding: 12rem 15px 5rem;
        }
    }
    .login-col {
        .login-div {
            background-color: $white-color;
            padding: 25px 45px;
            max-width: 430px;
            margin: 0 auto;
            border-radius: 3px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.04);
            h1 {
                font-weight: 400;
                font-size: 32px;
                line-height: 40px;
                letter-spacing: 0.5px;
                margin: 0 0 30px;
                color: $secondary-color;
                text-align: center;
                text-transform: uppercase;
            }
            h3{
                text-align: center;
            }
            form {
                label {
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 18px;
                    color: $light-color;
                    text-transform: uppercase;
                    display: block;
                    margin: 0 0 10px;
                }
                input {
                    border: 1px solid $light-color;
                    border-radius: 3px;
                    padding: 6px 12px;
                    margin-bottom: 30px;
                    font-size: 20px;
                    line-height: 25px;
                    color: $secondary-color;
                    height: 50px;
                    &.country-code-input {
                        width: 50px;
                        margin-right: 15px;
                    }
                    &.code-input {
                        width: 21%;
                        text-align: center;
                        margin-right: 15px;
                        margin-bottom: 15px;
                    }
                    &.number-input {
                        width: 80%;
                    }
                }
                .send-code-btn {
                    width: 100%;
                    background-color: $primary-color;
                    color: $white-color;
                    box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.09) !important;
                    padding: 15px;
                    border-radius: 3px;
                    font-size: 18px;
                    line-height: 23px;
                    text-transform: uppercase;
                    border: 1px solid $primary-color;
                    margin-bottom: 25px;
                    &:hover {
                        background-color: $transparent;
                        color: $primary-color;
                    }
                }
                a {
                    font-weight: 600;
                    color: $light-color;
                    font-size: 16px;
                    line-height: 20px;
                    display: block;
                    text-align: center;
                    text-transform: uppercase;
                    &:hover {
                        color: $primary-color;
                    }
                }
                p {
                    font-size: 16px;
                    line-height: 20px;
                    color: $light-color;
                    margin-bottom: 25px;
                    text-align: center;
                    a {
                        color: $primary-color;
                        display: inline-block;
                    }   
                }
            }
        }
    }
}
.apps-section {
    .heading-col {
        padding: 45px 15px 35px;
        h1 {
            margin: 0;
            font-weight: 600;
            font-size: 28px;
            line-height: 36px;
            letter-spacing: 0.5px;
            color: $secondary-color;
            text-transform: uppercase;
        }
    }
    .apps-link-col {
        padding: 0;
        .apps-link-div {
            background-color: $white-color;
            box-shadow: 0 6px 18px $shadow-color;
            border-radius: 3px;
            text-align: center;
            padding: 15px;
            width: 168px;
            height: 168px;
            float: left;
            margin: 0 15px 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            display: -webkit-flex;
            -webkit-align-items: center;
            -webkit-justify-content: center;
            border: 1px solid $transparent;
            transition: border 0.6s ease;
            .image-div {
                margin-bottom: 20px;
            }
            .text-div {
                h2 {
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 23px;
                    letter-spacing: 0.1px;
                    color: $secondary-color;
                    margin: 0;
                    text-transform: uppercase;
                }
            }
            &:hover {
                border: 1px solid $primary-color;
            }
        }
    }
}
// COMPARE PAGE
.compare-page {
    .visible-xxs {
        display: none;
    }
    .compare-section {
        padding: 5rem 0;
        .tabs-col {
            padding: 0 35px;
            margin-bottom: 25px;
            .tabs-div {
                background-color: $white-color;
                box-shadow: 0 6px 18px $shadow-color;
                .preference-col {
                    padding: 21px 45px;
                    .dropdown {
                        button {
                            border: $none-value;
                            background-color: $transparent;
                            padding: $zero-value;
                            color: $secondary-color;
                            text-transform: uppercase;
                            font-size: 18px;
                            line-height: 23px;
                            img {
                                margin-right: 10px;
                            }
                            .caret {
                                margin-left: 15px;
                            }
                        }
                        ul {
                            padding: $zero-value;
                            margin-top: 10px;
                            min-width: 165px;
                            li {
                                padding: 5px 20px;
                                color: $primary-color;
                                a {
                                    padding: 0;
                                    color: $primary-color;
                                    white-space: normal;
                                    &:hover,
                                    &:focus {
                                        background-color: $transparent;
                                    }
                                }
                            }
                        }
                    }
                }
                .cards-map-view-col {
                    ul {
                        border: $none-value;
                        li {
                            margin: $zero-value;
                            a {
                                margin: 0;
                                border-radius: $zero-value;
                                border: $none-value;
                                text-transform: uppercase;
                                font-weight: 400;
                                font-size: 18px;
                                line-height: 22px;
                                letter-spacing: 0.5px;
                                width: 185px;
                                text-align: center;
                                padding: 22px 0px;
                                background-color: $color-F5FAFF;
                                color: $primary-color;
                                position: relative;
                            }
                            &.active {
                                a {
                                    background-color: $primary-color;
                                    color: $white-color;
                                    border: $none-value;
                                    &:after, 
                                    &:before {
                                        top: 100%;
                                        left: 50%;
                                        border: solid transparent;
                                        content: " ";
                                        height: 0;
                                        width: 0;
                                        position: absolute;
                                        pointer-events: none;
                                    }
                                    &:after {
                                        border-color: rgba(45, 141, 255, 0);
                                        border-top-color: #6AAEFF;
                                        border-width: 4px;
                                        margin-left: -4px;
                                    }
                                    &:before {
                                        border-color: rgba(45, 141, 255, 0);
                                        border-top-color: #6AAEFF;
                                        border-width: 10px;
                                        margin-left: -10px;
                                    }
                                }
                            }
                        }
                    }
                }
                .download-col {
                    text-align: right;
                    padding: 10px 15px;
                    .dropdown {
                        button {
                            padding: 10px 25px;
                            border: 1px solid $red-color;
                            border-radius: 3px;
                            background-color: $red-color;
                            color: $white-color;
                            font-size: 16px;
                            line-height: 21px;
                            text-transform: uppercase;
                            img {
                                margin-right: 10px;
                            }
                            .caret {
                                margin-left: 20px;
                            }
                            // &:hover {
                            //     background-color: $transparent;
                            //     color: $red-color;
                            // }
                        }
                        ul {
                            padding: $zero-value;
                            margin-top: 10px;
                            min-width: 223px;
                            left: auto;
                            right: 0;
                            li {
                                padding: 5px 20px;
                                color: $primary-color;
                                a {
                                    padding: 0;
                                    color: $primary-color;
                                    white-space: normal;
                                    &:hover,
                                    &:focus {
                                        background-color: $transparent;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .content-col {
            .topics-col {
                .topics-div {
                    // background-color: $white-color;
                    background-color: #ff7993 !important;
                    border-radius: 3px;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
                    margin-right: 20px;
                    .heading-div {
                        padding: 26px 15px;
                        border-bottom: 1px solid #EFEFEF;
                        h2 {
                            margin: 0;
                            font-weight: 600;
                            font-size: 28px;
                            line-height: 36px;
                            // color: $secondary-color;
                            color: #fff;
                            text-transform: uppercase;
                            text-align: center;
                        }
                    }
                    .panel-group {
                        margin: 0;
                        .panel {
                            border-radius: $zero-value;
                            box-shadow: $none-value;
                            border: $none-value;
                            margin: $zero-value;
                            .panel-heading {
                                border: $none-value;
                                padding: $zero-value;
                                h4 {
                                    font-weight: 400;
                                    a {
                                        display: block;
                                        padding: 15px;
                                        background-color: $color-F5FAFF;
                                        color: $light-color;
                                        font-weight: 400;
                                        font-size: 18px;
                                        line-height: 23px;
                                        text-transform: uppercase;
                                        i {
                                            width: 24px;
                                            height: 24px;
                                            background-color: $primary-color;
                                            color: $white-color;
                                            text-align: center;
                                            border-radius: 100%;
                                            padding-top: 2px;
                                            margin-right: 25px;
                                            transition: transform 0.6s ease;
                                        }
                                        &.collapsed {
                                            background-color: $white-color;
                                            i {
                                                transform: rotate(180deg);
                                            }
                                        }
                                    }
                                }
                            }
                            .panel-body {
                                background-color: $color-F5FAFF;
                                border: $none-value;
                                ul {
                                    list-style-type: $none-value;
                                    padding-left: 65px;
                                    margin-bottom: 80px;
                                    li {
                                        margin-bottom: 10px;
                                        color: $light-color;
                                        font-weight: 400;
                                        font-size: 18px;
                                        line-height: 23px;
                                        a {
                                            color: $light-color;
                                            font-weight: 400;
                                            font-size: 18px;
                                            line-height: 23px;
                                        }
                                        &:hover,
                                        &.active {
                                            a {
                                                color: $secondary-color;
                                                font-weight: 600;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .tab-content {
                padding: 0;
                .tab-pane {
                    padding: 0 5px 0 0;
                    .content-card-col {
                        padding-left: 0;
                        margin-bottom: 15px;
                        .address-div {
                            margin-bottom: 25px;
                            .dropdown {
                                button {
                                    padding: 17px 45px 17px 30px;
                                    border: 1px solid $red-color;
                                    box-shadow: 0 6px 18px $shadow-color;
                                    border-radius: 3px;
                                    background-color: $red-color;
                                    color: $white-color;
                                    font-weight: 700;
                                    font-size: 23px;
                                    line-height: 28px;
                                    width: 100%;
                                    text-align: left;
                                    position: relative;
                                    .caret {
                                        position: absolute;
                                        top: 50%;
                                        right: 20px;
                                        border-top: 6px dashed;
                                        border-right: 6px solid transparent;
                                        border-left: 6px solid transparent;
                                    }
                                    // &:hover {
                                    //     background-color: $transparent;
                                    //     color: $red-color;
                                    // }
                                }
                                ul {
                                    padding: $zero-value;
                                    margin-top: 10px;
                                    min-width: 223px;
                                    left: 0;
                                    right: 0;
                                    li {
                                        padding: 5px 20px;
                                        color: $primary-color;
                                        font-size: 13px;
                                        a {
                                            padding: 0;
                                            color: $primary-color;
                                            white-space: normal;
                                            &:hover,
                                            &:focus {
                                                background-color: $transparent;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .content-div {
                            background-color: $white-color;
                            box-shadow: 0 6px 18px $shadow-color;
                            padding: 0 0 10px;
                            border-radius: 3px;
                            .inner-div {
                                text-align: center;
                                padding: 10px;
                                p {
                                    font-size: 16px;
                                    line-height: 20px;
                                    color: $light-color;
                                    margin: 0 0 5px;
                                }
                                h3 {
                                    font-weight: 600;
                                    font-size: 28px;
                                    line-height: 36px;
                                    color: $secondary-color;
                                    margin: 0;
                                }
                                &.rating-div {
                                    border-top: 1px solid $primary-color;
                                    border-bottom: 1px solid $primary-color;
                                }
                                &.map-div {
                                    border-bottom: 1px solid $primary-color;
                                    margin-bottom: 28px;
                                    h3 {
                                        font-size: 22px;
                                        line-height: 28px;
                                        margin-bottom: 3px;
                                    }
                                    .map-container {
                                        width: 100%;
                                        height: 250px;
                                    }
                                    &:last-child {
                                        border-bottom: $none-value;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
footer {
    margin-top: 8rem;
    padding: 75px 0 51px;
    background-color: $secondary-color;
    .links-col {
        h2 {
            font-weight: 700;
            font-size: 20px;
            line-height: 25px;
            color: $white-color;
            margin: 0 0 17px;
            text-transform: uppercase;
        }
        p,
        a {
            display: block;
            font-size: 16px;
            line-height: 20px;
            color: $white-color;
            margin: 0 0 20px;
        }
    }
    .copy-col {
        h2 {
            margin: 0 0 50px;
        }
        p {
            a {
                display: inline-block;
                margin: 0;
            }
        }
    }
}