$white-color: #FFFFFF !important;
$color-fa: #FAFAFA !important;
$primary-color: #6AAEFF !important;
$secondary-color: #24353A !important;
$light-color: #81878F !important;
$transparent: transparent !important;
$color-F5FAFF: #F5FAFF !important;
$red-color: #FF7993 !important;
$shadow-color: rgba(45, 141, 255, 0.04) !important;

$primary-font: 'Source Sans Pro', sans-serif !important;

$zero-value: 0 !important;
$none-value: none !important;
$full-width: 100% !important;
