body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro",sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.profile-col .profile-div p {
  font-size: 20px;
  line-height: 24px;
  color: #fff !important;
  text-align: center;
  width: 40px;
  height: 40px;
  padding-top: 7px;
  background-color: #24353A !important;
  display: inline-block;
  margin: 0;
  border-radius: 100%;
  margin-right: 15px;
}
.profile-col .profile-div button {
  border: none !important;
  float: none !important;
  padding: 0 !important;
  background: none !important;
  font-size: 18px;
  line-height: 23px;
  color: #81878F !important;
  text-transform: uppercase;
}
.Divlogo {
  padding: 7px;
}
.tab-pane {
  padding: 0 0px 0 0 !important;
}
#number-input {
  width: 100%;
}
.displayNoneModat{
  display: none;
}
.check_radiusMr2 {
  margin-right: 2px !important;
  max-width: 105px !important;
  padding: 5px 8px !important;
  font-size: 15px !important;
  line-height: 2em;
  border-radius: 4px;
}
/* .compare-page .compare-section .content-col .tab-content .tab-pane .content-card-col .address-div .dropdown button {
  padding: 17px 45px 17px 30px;
  border: 1px solid #777BF0 !important;
  box-shadow: 0 6px 18px rgba(45,141,255,0.04) !important;
  border-radius: 3px;
  background-color: #777BF0 !important;
  color: #fff !important;
  font-weight: 700;
  font-size: 15px;
  /* line-height: 28px; *-/
  width: 100%;
  text-align: left;
  position: relative;
} */
/* .compare-page .compare-section .content-col .tab-content .tab-pane .content-card-col .content-div .inner-div h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: #24353A !important;
  margin: 0;
} */
/* .compare-page .compare-section .content-col .tab-content .tab-pane .content-card-col .content-div .inner-div.rating-div {
  border-top: 1px solid #efeff1 !important;
  border-bottom: 0 !important;
  cursor: pointer;
  text-align: left !important;
  margin: 0px 8px;
} */
/* .compare-page .compare-section .content-col .tab-content .tab-pane .content-card-col .content-div .inner-div.rating-div i{
  width: 20px;
  height: 20px;
  background-color: #2D8DFF !important;
  color: #fff !important;
  text-align: center;
  border-radius: 100%;
  padding-top: 2px;
  transition: transform 0.6s ease;
} */
/* .compare-page .compare-section .content-col .topics-col .topics-div {
  background-color: #777BF0 !important;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.06);
  margin-right: 20px;
}
.compare-page .compare-section .content-col .topics-col .topics-div .heading-div h2 {
  color: #fff !important;
 
} */
.compare-page .compare-section .content-col .tab-content .tab-pane .content-card-col .address-div .dropdown button {
 
  border-top-right-radius: 3px !important;
  border-top-left-radius: 3px !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  padding: 17px 34px 17px 14px;
  border: 1px solid #777BF0 !important;
  box-shadow: 0 6px 18px rgba(45,141,255,0.04) !important;
  color: #fff !important;
  font-size: 18px;
  text-align: center;
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
}
.compare-page .compare-section .content-col .tab-content .tab-pane .content-card-col .address-div {
  margin-bottom: 0px;
}
.compare-page .compare-section .content-col .tab-content .tab-pane .content-card-col .content-div {
  
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
}
/* .compare-page .compare-section .content-col .tab-content .tab-pane .content-card-col .content-div .inner-div.rating-div:hover{
  background-color: #d8e6f5 !important;
  color: #81878F !important;
  
} */

.avoid-clicks{
  cursor: not-allowed;
  opacity: 0.55;
}
.clpsbtn{
  color: #fff !important  ;
}
.col-lg-11, .col-lg-1, .col-lg-3{
  transition: 0.5s;
}
.login-div h3{
  text-align: center;
}